/* MAIN GENERAL STYLING */
h1 {
  font-family: "MuseoModerno";
  font-size: 3em;
  margin-top: -.1em;
  color: #247ba0;
}

h2 {
  text-decoration: underline;
  font-family: 'MuseoModerno';
  font-size: 40px;
  text-align: center;
  color: #247ba0;
}

h4 {
  text-decoration: underline;
  font-family: 'MuseoModerno';
  font-size: 20px;
  text-align: center;
  color: #70c1b3;
}

.hidden {
  display: none;
}

div {
  height: 2px;
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px dotted #247ba0;
  margin-top: 3em;
}

.cat {
  height: 20%;
  margin-bottom: -2em;
}

/* HEADER AREA */

.header-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px dotted #247ba0;
  border-radius: .3em;
  position: relative;

}
.header-text {
  flex-direction: column;
  text-align: center;
}

.date {
  font-family: "MuseoModerno";
  color: #70c1b3;
  margin-top: -.1em;
  margin-right: .5em;
}

.greeting {
  font-family: "MuseoModerno";
  font-size: 20px;
  color: #70c1b3;
}


/* DROPDOWN AREA */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 1em;
  border: none;
}

.buttimg {
  width: 60px;
}

.dropdown-content {
  display: none;
  position: absolute;
  border: 2px dotted #70c1b3;
  background-color: #fff;
  margin-left: .7em;
  color: #fff;
  border-radius: .3em;
  padding-left: 1em;
  padding-right: 1em;
  width: 13em;
}

.dropdown-content p {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: "Roboto";
  font-size: 15px;
  color: #343a40;
  /* padding-left: 1em;
  padding-right: 1em; */
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* LEADERBOARD SIDE BAR */

.catimg {
  height: 13em;
}

main {
  display: flex;
  flex-direction: row;
}

aside {
  width: 20%;
  height: 100%;
}

.all-user-stats {
  width: 80%
}

.sidebar {
  border-top: none;
  border-bottom: 2px dotted #247ba0;
  border-left: 2px dotted #247ba0;
  border-right: 2px dotted #247ba0;
  border-radius: .3em;
}

.activity-comparison {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;

}

.steps-comparison-data, .minutes-comparison-data, .stairs-comparison-data {
  font-family: "Roboto";
  color: #343a40;
}

.category {
  text-decoration: none;
}


/* USER DAILY STATS */

.all-user-stats {
  /* margin-top: 1em; */
  border-right: 2px dotted #247ba0;
  border-top: none;
  border-bottom: 2px dotted #247ba0;
  border-left: none;
}
.user-today-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 17em;

  border-radius: .3em;
}

.daily-data-title {
  text-align: center;

}

.data-widgets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: flex-end; */
}

.today {
  text-align: center;
  border: 2px dotted #70c1b3;
  border-radius: .3em;
  margin: none;
  width: 10em;
  height: 10em;
}

.hydration-today-data {
  font-family: "Roboto";
  font-size: 15px;
  margin: .5em;
  vertical-align: center;
  color: #343a40;
}

.hours-today-data, .quality-today-data {
  font-family: "Roboto";
  font-size: 15px;
  margin: .5em;
  color: #343a40;
}

.steps-today-data, .minutes-today-data, .miles-today-data {
  font-family: "Roboto";
  font-size: 15px;
  margin: .5em;
  color: #343a40;
}

.user-card {
  display: none;
}

/* WEEKLY STATS */

.weekly-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3em;
}

.week {
  width: 25%;
  border: 2px dotted #70c1b3;
  border-radius: .3em;
  height: 20em;
  width: 13em;
}

.activity-week, .sleep-week {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

input {
  height: 4em;
}






















/* END OF CSS */
